.ProseMirror {
  @apply rounded py-3 px-4 bg-gray-200 border border-gray-200 leading-tight outline-none overflow-y-auto;
  max-height: 200px;
}
.ProseMirror p.editor--empty:first-child::before {
  @apply float-left text-gray-400 h-0;
  content: attr(data-empty-text);
}
.ProseMirror-focused {
  @apply outline-none bg-white border-gray-300;
}

a {
  @apply text-blue-500 underline;
}

a:hover {
  @apply text-blue-700;
}

p + p {
  @apply mt-2;
}

ul,
ol {
  @apply pl-8 my-4;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p,
li > ol,
li > ul {
  margin: 0;
}

.form-control__label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}
.form-control__input {
  @apply appearance-none block w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 my-2 leading-tight;
}
.form-control__input--rounded-full {
  @apply rounded-full;
}
.form-control__input:focus {
  @apply outline-none bg-white border-gray-300
}

.modal-enter-active, .modal-leave-active {
  @apply transition-opacity duration-150 ease-linear;
}
.modal-enter, .modal-leave-to {
  @apply opacity-0;
}
